In [1]:
import pandas as pd
import sys
import os
from datetime import datetime, timedelta
sys.path.append(os.path.expanduser('~/nba-dl/helpers'))

In [2]:
import utils

In [3]:
rs_data = pd.read_csv('~/nba-dl/data/matches/RS/book-RS.csv')
po_data = pd.read_csv('~/nba-dl/data/matches/PO/book-PO.csv')

In [4]:
game_inventory = pd.read_csv('~/nba-dl/data/game-inventory/all-games-corrected.csv')
game_inventory.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,21998,1610612743,DEN,Denver Nuggets,29800720,1999-05-05,DEN vs. HOU,L,241,88,...,0.500,17,35,52,19,11,7,6,14,-7.0
1,21998,1610612757,POR,Portland Trail Blazers,29800723,1999-05-05,POR @ LAL,L,241,91,...,0.524,11,27,38,24,6,7,14,31,-28.0
2,21998,1610612758,SAC,Sacramento Kings,29800725,1999-05-05,SAC vs. VAN,W,240,99,...,0.692,20,35,55,17,8,8,20,22,4.0
3,21998,1610612738,BOS,Boston Celtics,29800713,1999-05-05,BOS vs. CHH,L,290,129,...,0.724,16,36,52,34,10,5,10,31,-4.0
4,21998,1610612741,CHI,Chicago Bulls,29800719,1999-05-05,CHI vs. ORL,L,239,83,...,0.636,6,24,30,29,10,3,19,19,-20.0

In [5]:
game = rs_data.tail(1)
game

,SEASON_ID,HOME_TEAM_NAME,AWAY_TEAM_NAME,GAME_ID,GAME_DATE,HWIN,HPLUSMINUS,HFGM,HFGA,HFG_PCT,...,AFTA,AFT_PCT,AOREB,ADREB,AREB,AAST,ASTL,ABLK,ATOV,APF
24153,22018,Milwaukee Bucks,Utah Jazz,21800594,2019-01-07,W,12.0,46,98,0.469,...,23,0.696,11,35,46,20,6,6,15,21

In [6]:
home_games_in_last_week = utils.home_games_in_last_week(game, game_inventory)
home_games_in_last_week

3

In [7]:
# verificaton

game_date = game['GAME_DATE'].values[0]
team = game['HOME_TEAM_NAME'].values[0]
team_games = game_inventory[game_inventory['TEAM_NAME'] == team]
parsed_date = datetime.strptime(game_date, '%Y-%m-%d')
parsed_week_before = parsed_date - timedelta(days=7)
week_before = parsed_week_before.strftime('%Y-%m-%d')
last_games = team_games[team_games['GAME_DATE'] < game_date].sort_values(by=['GAME_DATE'], ascending=False)
last_week_games = last_games[last_games['GAME_DATE'] >= week_before]
last_week_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
51790,22018,1610612749,MIL,Milwaukee Bucks,21800580,2019-01-05,MIL vs. TOR,L,238,116,...,0.815,4,34,38,29,9,2,14,20,-7.0
51820,22018,1610612749,MIL,Milwaukee Bucks,21800572,2019-01-04,MIL vs. ATL,W,240,144,...,0.714,12,42,54,36,11,8,14,26,32.0
51854,22018,1610612749,MIL,Milwaukee Bucks,21800550,2019-01-01,MIL vs. DET,W,241,121,...,0.654,5,38,43,28,7,6,13,19,23.0

In [8]:
away_games_in_last_week = utils.away_games_in_last_week(game, game_inventory)
away_games_in_last_week

3

In [9]:
# verificaton

game_date = game['GAME_DATE'].values[0]
team = game['AWAY_TEAM_NAME'].values[0]
team_games = game_inventory[game_inventory['TEAM_NAME'] == team]
parsed_date = datetime.strptime(game_date, '%Y-%m-%d')
parsed_week_before = parsed_date - timedelta(days=7)
week_before = parsed_week_before.strftime('%Y-%m-%d')
last_games = team_games[team_games['GAME_DATE'] < game_date].sort_values(by=['GAME_DATE'], ascending=False)
last_week_games = last_games[last_games['GAME_DATE'] >= week_before]
last_week_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
51792,22018,1610612762,UTA,Utah Jazz,21800577,2019-01-05,UTA @ DET,W,240,110,...,0.781,7,35,42,24,12,6,12,23,5.0
51812,22018,1610612762,UTA,Utah Jazz,21800567,2019-01-04,UTA @ CLE,W,241,117,...,0.864,8,39,47,28,6,9,11,19,26.0
51851,22018,1610612762,UTA,Utah Jazz,21800549,2019-01-01,UTA @ TOR,L,239,116,...,0.793,12,31,43,23,6,4,4,27,-6.0

In [10]:
home_last_10_games_ratio = utils.home_last_x_games_ratio(game, game_inventory, 10)
home_last_10_games_ratio

0.8

In [11]:
# verificaton

date = game['GAME_DATE'].values[0]
team = game['HOME_TEAM_NAME'].values[0]
team_games = game_inventory[game_inventory['TEAM_NAME'] == team]
last_x_games = team_games[team_games['GAME_DATE'] < date].sort_values(by=['GAME_DATE'], ascending=False)[:10]
last_x_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
51790,22018,1610612749,MIL,Milwaukee Bucks,21800580,2019-01-05,MIL vs. TOR,L,238,116,...,0.815,4,34,38,29,9,2,14,20,-7.0
51820,22018,1610612749,MIL,Milwaukee Bucks,21800572,2019-01-04,MIL vs. ATL,W,240,144,...,0.714,12,42,54,36,11,8,14,26,32.0
51854,22018,1610612749,MIL,Milwaukee Bucks,21800550,2019-01-01,MIL vs. DET,W,241,121,...,0.654,5,38,43,28,7,6,13,19,23.0
51887,22018,1610612749,MIL,Milwaukee Bucks,21800527,2018-12-29,MIL vs. BKN,W,241,129,...,0.875,5,34,39,30,6,5,10,22,14.0
51927,22018,1610612749,MIL,Milwaukee Bucks,21800513,2018-12-27,MIL vs. NYK,W,240,112,...,0.810,11,46,57,20,4,11,15,14,16.0
51957,22018,1610612749,MIL,Milwaukee Bucks,21800497,2018-12-25,MIL @ NYK,W,239,109,...,0.676,6,45,51,22,9,8,8,19,14.0
51990,22018,1610612749,MIL,Milwaukee Bucks,21800482,2018-12-22,MIL @ MIA,L,241,87,...,0.727,6,42,48,20,6,9,15,19,-7.0
52012,22018,1610612749,MIL,Milwaukee Bucks,21800473,2018-12-21,MIL @ BOS,W,241,120,...,0.786,11,44,55,26,3,6,20,30,13.0
52030,22018,1610612749,MIL,Milwaukee Bucks,21800462,2018-12-19,MIL vs. NOP,W,242,123,...,0.800,9,39,48,26,11,3,14,18,8.0
52069,22018,1610612749,MIL,Milwaukee Bucks,21800443,2018-12-17,MIL @ DET,W,241,107,...,0.667,5,32,37,33,8,10,10,19,3.0

In [12]:
away_last_10_games_ratio = utils.away_last_x_games_ratio(game, game_inventory, 10)
away_last_10_games_ratio

0.6

In [13]:
# verificaton

date = game['GAME_DATE'].values[0]
team = game['AWAY_TEAM_NAME'].values[0]
team_games = game_inventory[game_inventory['TEAM_NAME'] == team]
last_x_games = team_games[team_games['GAME_DATE'] < date].sort_values(by=['GAME_DATE'], ascending=False)[:10]
last_x_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
51792,22018,1610612762,UTA,Utah Jazz,21800577,2019-01-05,UTA @ DET,W,240,110,...,0.781,7,35,42,24,12,6,12,23,5.0
51812,22018,1610612762,UTA,Utah Jazz,21800567,2019-01-04,UTA @ CLE,W,241,117,...,0.864,8,39,47,28,6,9,11,19,26.0
51851,22018,1610612762,UTA,Utah Jazz,21800549,2019-01-01,UTA @ TOR,L,239,116,...,0.793,12,31,43,23,6,4,4,27,-6.0
51890,22018,1610612762,UTA,Utah Jazz,21800532,2018-12-29,UTA vs. NYK,W,241,129,...,0.786,15,45,60,30,8,6,17,27,32.0
51923,22018,1610612762,UTA,Utah Jazz,21800515,2018-12-27,UTA vs. PHI,L,238,97,...,0.741,12,32,44,19,11,1,16,19,-17.0
51960,22018,1610612762,UTA,Utah Jazz,21800501,2018-12-25,UTA vs. POR,W,240,117,...,0.522,9,40,49,20,7,10,17,19,21.0
51991,22018,1610612762,UTA,Utah Jazz,21800485,2018-12-22,UTA vs. OKC,L,240,106,...,0.611,10,34,44,35,12,4,13,19,-1.0
52015,22018,1610612762,UTA,Utah Jazz,21800476,2018-12-21,UTA @ POR,W,240,120,...,0.588,6,36,42,35,7,6,15,21,30.0
52040,22018,1610612762,UTA,Utah Jazz,21800464,2018-12-19,UTA vs. GSW,W,240,108,...,0.818,10,42,52,30,7,6,16,16,5.0
52057,22018,1610612762,UTA,Utah Jazz,21800445,2018-12-17,UTA @ HOU,L,239,97,...,0.742,11,41,52,23,9,4,23,25,-5.0

In [14]:
home_last_10_games_h2h_ratio = utils.home_last_10_games_h2h_ratio(game, game_inventory)
home_last_10_games_h2h_ratio

0.2

In [15]:
# verificaton

date = game['GAME_DATE'].values[0]
home_team = game['HOME_TEAM_NAME'].values[0]
away_team = game['AWAY_TEAM_NAME'].values[0]
away_team_abbreviation = utils.get_team_abbreviation(away_team)
team_games = game_inventory[game_inventory['TEAM_NAME'] == home_team]
last_team_games = team_games[team_games['GAME_DATE'] < date].sort_values(by=['GAME_DATE'], ascending=False)
last_team_hh_games = last_team_games[last_team_games['MATCHUP'].str.contains(away_team_abbreviation)][:10]
last_team_hh_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
49571,22017,1610612749,MIL,Milwaukee Bucks,21700381,2017-12-09,MIL vs. UTA,W,240,117,...,0.846,8,33,41,22,8,6,11,29,17.0
49762,22017,1610612749,MIL,Milwaukee Bucks,21700285,2017-11-25,MIL @ UTA,L,239,108,...,0.783,8,32,40,19,5,6,16,21,-13.0
45983,22016,1610612749,MIL,Milwaukee Bucks,21600860,2017-02-24,MIL vs. UTA,L,238,95,...,0.828,10,25,35,15,5,1,15,27,-14.0
46238,22016,1610612749,MIL,Milwaukee Bucks,21600738,2017-02-01,MIL @ UTA,L,240,88,...,0.600,9,30,39,19,10,7,17,21,-16.0
42999,22015,1610612749,MIL,Milwaukee Bucks,21501041,2016-03-20,MIL vs. UTA,L,240,85,...,0.824,2,25,27,21,10,10,13,11,-9.0
43569,22015,1610612749,MIL,Milwaukee Bucks,21500758,2016-02-05,MIL @ UTA,L,240,81,...,0.667,7,34,41,9,12,7,20,17,-3.0
40719,22014,1610612749,MIL,Milwaukee Bucks,21400876,2015-02-28,MIL @ UTA,L,239,75,...,0.857,8,31,39,18,15,4,23,23,-7.0
41178,22014,1610612749,MIL,Milwaukee Bucks,21400638,2015-01-22,MIL vs. UTA,L,240,99,...,0.833,15,25,40,26,11,5,12,25,-2.0
38038,22013,1610612749,MIL,Milwaukee Bucks,21300894,2014-03-03,MIL vs. UTA,W,240,114,...,0.846,13,32,45,28,7,4,13,24,26.0
38865,22013,1610612749,MIL,Milwaukee Bucks,21300479,2014-01-02,MIL @ UTA,L,241,87,...,0.786,6,28,34,21,8,4,13,19,-9.0

In [16]:
away_last_10_games_h2h_ratio = utils.away_last_10_games_h2h_ratio(game, game_inventory)
away_last_10_games_h2h_ratio

0.8

In [17]:
# verificaton

date = game['GAME_DATE'].values[0]
home_team = game['HOME_TEAM_NAME'].values[0]
away_team = game['AWAY_TEAM_NAME'].values[0]
home_team_abbreviation = utils.get_team_abbreviation(home_team)
team_games = game_inventory[game_inventory['TEAM_NAME'] == away_team]
last_team_games = team_games[team_games['GAME_DATE'] < date].sort_values(by=['GAME_DATE'], ascending=False)
last_team_hh_games = last_team_games[last_team_games['MATCHUP'].str.contains(home_team_abbreviation)][:10]
last_team_hh_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
49563,22017,1610612762,UTA,Utah Jazz,21700381,2017-12-09,UTA @ MIL,L,240,100,...,0.703,9,26,35,20,7,3,16,23,-17.0
49771,22017,1610612762,UTA,Utah Jazz,21700285,2017-11-25,UTA vs. MIL,W,239,121,...,0.579,5,25,30,31,8,2,10,19,13.0
45996,22016,1610612762,UTA,Utah Jazz,21600860,2017-02-24,UTA @ MIL,W,240,109,...,0.900,9,32,41,23,8,5,14,26,14.0
46244,22016,1610612762,UTA,Utah Jazz,21600738,2017-02-01,UTA vs. MIL,W,240,104,...,0.778,11,35,46,22,11,2,15,23,16.0
42997,22015,1610612762,UTA,Utah Jazz,21501041,2016-03-20,UTA @ MIL,W,240,94,...,0.929,16,28,44,24,8,4,17,13,9.0
43567,22015,1610612762,UTA,Utah Jazz,21500758,2016-02-05,UTA vs. MIL,W,239,84,...,0.696,12,33,45,13,15,8,15,18,3.0
40721,22014,1610612762,UTA,Utah Jazz,21400876,2015-02-28,UTA vs. MIL,W,241,82,...,0.783,13,33,46,18,16,7,22,18,7.0
41181,22014,1610612762,UTA,Utah Jazz,21400638,2015-01-22,UTA @ MIL,W,240,101,...,0.821,12,31,43,25,9,3,22,15,2.0
38036,22013,1610612762,UTA,Utah Jazz,21300894,2014-03-03,UTA @ MIL,L,240,88,...,0.769,18,21,39,18,5,5,13,21,-26.0
38866,22013,1610612762,UTA,Utah Jazz,21300479,2014-01-02,UTA vs. MIL,W,240,96,...,1.000,9,34,43,15,10,6,11,15,9.0

In [18]:
team_home_form_ratio = utils.team_home_form_ratio(game, game_inventory, 10)
team_home_form_ratio

0.8

In [19]:
# verificaton

date = game['GAME_DATE'].values[0]
team = game['HOME_TEAM_NAME'].values[0]
team_games = game_inventory[game_inventory['TEAM_NAME'] == team]
team_home_games = team_games[~team_games['MATCHUP'].str.contains('@')]
last_home_games = team_home_games[team_home_games['GAME_DATE'] < date].sort_values(by=['GAME_DATE'], ascending=False)[:10]
last_home_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
51790,22018,1610612749,MIL,Milwaukee Bucks,21800580,2019-01-05,MIL vs. TOR,L,238,116,...,0.815,4,34,38,29,9,2,14,20,-7.0
51820,22018,1610612749,MIL,Milwaukee Bucks,21800572,2019-01-04,MIL vs. ATL,W,240,144,...,0.714,12,42,54,36,11,8,14,26,32.0
51854,22018,1610612749,MIL,Milwaukee Bucks,21800550,2019-01-01,MIL vs. DET,W,241,121,...,0.654,5,38,43,28,7,6,13,19,23.0
51887,22018,1610612749,MIL,Milwaukee Bucks,21800527,2018-12-29,MIL vs. BKN,W,241,129,...,0.875,5,34,39,30,6,5,10,22,14.0
51927,22018,1610612749,MIL,Milwaukee Bucks,21800513,2018-12-27,MIL vs. NYK,W,240,112,...,0.810,11,46,57,20,4,11,15,14,16.0
52030,22018,1610612749,MIL,Milwaukee Bucks,21800462,2018-12-19,MIL vs. NOP,W,242,123,...,0.800,9,39,48,26,11,3,14,18,8.0
52154,22018,1610612749,MIL,Milwaukee Bucks,21800395,2018-12-10,MIL vs. CLE,W,240,108,...,0.818,12,46,58,22,4,4,14,24,16.0
52204,22018,1610612749,MIL,Milwaukee Bucks,21800377,2018-12-07,MIL vs. GSW,L,239,95,...,0.696,15,39,54,18,10,3,18,21,-10.0
52228,22018,1610612749,MIL,Milwaukee Bucks,21800361,2018-12-05,MIL vs. DET,W,239,115,...,0.833,4,42,46,25,13,4,15,21,23.0
52327,22018,1610612749,MIL,Milwaukee Bucks,21800310,2018-11-28,MIL vs. CHI,W,239,116,...,0.750,8,40,48,29,6,8,12,23,3.0

In [20]:
team_away_form_ratio = utils.team_away_form_ratio(game, game_inventory, 10)
team_away_form_ratio

0.4

In [21]:
# verificaton

date = game['GAME_DATE'].values[0]
team = game['AWAY_TEAM_NAME'].values[0]
team_games = game_inventory[game_inventory['TEAM_NAME'] == team]    
team_away_games = team_games[team_games['MATCHUP'].str.contains('@')]
last_away_games = team_away_games[team_away_games['GAME_DATE'] < date].sort_values(by=['GAME_DATE'], ascending=False)[:10]
last_away_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
51792,22018,1610612762,UTA,Utah Jazz,21800577,2019-01-05,UTA @ DET,W,240,110,...,0.781,7,35,42,24,12,6,12,23,5.0
51812,22018,1610612762,UTA,Utah Jazz,21800567,2019-01-04,UTA @ CLE,W,241,117,...,0.864,8,39,47,28,6,9,11,19,26.0
51851,22018,1610612762,UTA,Utah Jazz,21800549,2019-01-01,UTA @ TOR,L,239,116,...,0.793,12,31,43,23,6,4,4,27,-6.0
52015,22018,1610612762,UTA,Utah Jazz,21800476,2018-12-21,UTA @ POR,W,240,120,...,0.588,6,36,42,35,7,6,15,21,30.0
52057,22018,1610612762,UTA,Utah Jazz,21800445,2018-12-17,UTA @ HOU,L,239,97,...,0.742,11,41,52,23,9,4,23,25,-5.0
52092,22018,1610612762,UTA,Utah Jazz,21800429,2018-12-15,UTA @ ORL,L,240,89,...,0.929,11,31,42,17,13,4,10,19,-7.0
52153,22018,1610612762,UTA,Utah Jazz,21800396,2018-12-10,UTA @ OKC,L,240,113,...,0.633,11,34,45,30,11,4,20,28,-9.0
52177,22018,1610612762,UTA,Utah Jazz,21800390,2018-12-09,UTA @ SAS,L,239,97,...,0.737,9,29,38,23,8,4,14,15,-13.0
52270,22018,1610612762,UTA,Utah Jazz,21800339,2018-12-02,UTA @ MIA,L,240,100,...,0.733,10,40,50,21,8,6,13,18,-2.0
52310,22018,1610612762,UTA,Utah Jazz,21800320,2018-11-30,UTA @ CHA,W,240,119,...,0.722,6,35,41,32,5,5,14,13,8.0