In [1]:
# import modułu reprezentującego endpoint leaguegamefinder z pakietu nba_api
from nba_api.stats.endpoints import leaguegamefinder

In [2]:
# stworzenie obiektu klasy LeagueGameFinder z zadanymi atrybutami
game_finder = leaguegamefinder.LeagueGameFinder(season_nullable='2019-20', league_id_nullable='00')

In [3]:
# wykorzystanie metody get_data_frames i zapisanie meczów do zmiennej 'games'
games = game_finder.get_data_frames()[0]

In [4]:
# typ zmiennej games
type(games)

pandas.core.frame.DataFrame

In [5]:
# wyświetlenie dostępnych statystyk zespołowych dla każdego meczu
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [6]:
# wyświetlenie pierwszych trzech wierszy 
games.head(3)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1610612764,WAS,Washington Wizards,0021900252,2019-11-26,WAS @ DEN,L,241,104,...,0.667,5,31,36,26,9,3,12,22,-13.0
1,22019,1610612746,LAC,LA Clippers,0021900251,2019-11-26,LAC @ DAL,W,238,114,...,0.700,17,39,56,22,12,3,14,27,15.0
2,22019,1610612743,DEN,Denver Nuggets,0021900252,2019-11-26,DEN vs. WAS,W,240,117,...,0.739,10,48,58,31,8,6,20,20,13.0