In [1]:
# import endpointu leaguegamefinder z pakietu nba_api
from nba_api.stats.endpoints import leaguegamefinder

In [13]:
# stworzenie obiektu LeagueGameFinder z zadanymi atrybutami
game_finder = leaguegamefinder.LeagueGameFinder(season_nullable='2019-20', league_id_nullable='00')

In [14]:
# wykorzystanie metody get_data_frames i zapisanie meczów w formacie pandas.core.frame.DataFrame do zmiennej 'games'
games = game_finder.get_data_frames()[0]

In [15]:
# wyświetlenie dostępnych statystyk zespołowych dla każdego meczu
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [16]:
# wyświetlenie pierwszych pięciu wierszy 
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1610612766,CHA,Charlotte Hornets,0021900167,2019-11-15,CHA vs. DET,W,240,109,...,0.625,14,27,41,22,10,3,10,17,3.0
1,22019,1610612759,SAS,San Antonio Spurs,0021900168,2019-11-15,SAS @ ORL,L,240,109,...,0.600,8,33,41,23,8,8,11,25,-2.0
2,22019,1610612762,UTA,Utah Jazz,0021900170,2019-11-15,UTA @ MEM,L,241,106,...,0.844,9,36,45,17,5,6,14,16,-1.0
3,22019,1610612747,LAL,Los Angeles Lakers,0021900174,2019-11-15,LAL vs. SAC,W,240,99,...,0.909,10,31,41,22,11,6,13,18,2.0
4,22019,1610612764,WAS,Washington Wizards,0021900171,2019-11-15,WAS @ MIN,W,241,137,...,0.760,13,38,51,38,10,5,13,22,21.0

In [18]:
type(games)

pandas.core.frame.DataFrame